<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.nacion.com/resizer/wK4qcHYic0M88bbeu35G8gybDsM=/600x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/Y3HJCIQ3OFDRJEDFB4VN2QVPZ4.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Cerebro SENA
    </a>
</nav>
<ul class="list-group">
    <label routerLink="home" class="list-group-item text-info">Inicio</label>
    <label routerLink="listado" class="list-group-item text-info">Listado de Actividades</label>
</ul>
